# Python virtual environment
.myenv/

# LaTeX build files
rep/*.aux
rep/*.bcf
rep/*.log
rep/*.nlo
rep/*.out
rep/*.run.xml
rep/*.synctex.gz

# ML / training artifacts (recommandé)
*.pth
*.ckpt
*.db
logs/
