yolo26n.pt
vgg_m_face_bn_dag.pth
logs/final_model/version_0/events.out.tfevents.1769181068.chifflot-5.lille.grid5000.fr.104390.0
logs/final_model/version_0/events.out.tfevents.1769181332.chifflot-5.lille.grid5000.fr.104390.1
logs/final_model/version_0/hparams.yaml
logs/final_model/version_0/checkpoints/best-epochepoch=48-val_accval_acc=0.8705.ckpt
logs/optuna_trials/trial_81/checkpoints/epochepoch=03-val_accval_acc=0.8423.ckpt
